[lk-component="dropdown-list"] {
  padding: var(--lk-size-md);
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

[lk-dropdown-list-is-open="true"] {
  max-height: var(--lk-size-3xl);
  overflow-y: auto;
}

[lk-component="dropdown-list"]>[lk-component="column"] {
  display: flex;
  flex-direction: column;
  gap: calc(var(--body-line-height) * var(--lk-wholestep-dec));
}
