/* Component selector: [lk-component="section"] */

[lk-component="section"] {
  display: block;
  position: relative;
}

[lk-section-padding="none"] {
  padding: 0px;
}

[lk-section-padding="xs"] {
  padding: var(--lk-size-lg);
}

[lk-section-padding="sm"] {
  padding: var(--lk-size-xl);
}

[lk-section-padding="md"] {
  padding: var(--lk-size-2xl);
}

[lk-section-padding="lg"] {
  padding: var(--lk-size-3xl);
}

[lk-section-padding="xl"] {
  padding: var(--lk-size-4xl);
}

/* Padding X */

[lk-section-px="none"] {
  padding-left: 0px;
  padding-right: 0px;
}

[lk-section-px="xs"] {
  padding-left: var(--lk-size-lg);
  padding-right: var(--lk-size-lg);
}

[lk-section-px="sm"] {
  padding-left: var(--lk-size-xl);
  padding-right: var(--lk-size-xl);
}

[lk-section-px="md"] {
  padding-left: var(--lk-size-2xl);
  padding-right: var(--lk-size-2xl);
}

[lk-section-px="lg"] {
  padding-left: var(--lk-size-3xl);
  padding-right: var(--lk-size-3xl);
}

[lk-section-px="xl"] {
  padding-left: var(--lk-size-4xl);
  padding-right: var(--lk-size-4xl);
}

/* Padding Y */

[lk-section-py="none"] {
  padding-top: 0px;
  padding-bottom: 0px;
}

[lk-section-py="xs"] {
  padding-top: var(--lk-size-lg);
  padding-bottom: var(--lk-size-lg);
}

[lk-section-py="sm"] {
  padding-top: var(--lk-size-xl);
  padding-bottom: var(--lk-size-xl);
}

[lk-section-py="md"] {
  padding-top: var(--lk-size-2xl);
  padding-bottom: var(--lk-size-2xl);
}

[lk-section-py="lg"] {
  padding-top: var(--lk-size-3xl);
  padding-bottom: var(--lk-size-3xl);
}

[lk-section-py="xl"] {
  padding-top: var(--lk-size-4xl);
  padding-bottom: var(--lk-size-4xl);
}

/* Padding Top */

[lk-section-pt="none"] {
  padding-top: 0px;
}

[lk-section-pt="xs"] {
  padding-top: var(--lk-size-lg);
}

[lk-section-pt="sm"] {
  padding-top: var(--lk-size-xl);
}

[lk-section-pt="md"] {
  padding-top: var(--lk-size-2xl);
}

[lk-section-pt="lg"] {
  padding-top: var(--lk-size-3xl);
}

[lk-section-pt="xl"] {
  padding-top: var(--lk-size-4xl);
}

/* Padding Right */

[lk-section-pr="none"] {
  padding-right: 0px;
}

[lk-section-pr="xs"] {
  padding-right: var(--lk-size-lg);
}

[lk-section-pr="sm"] {
  padding-right: var(--lk-size-xl);
}

[lk-section-pr="md"] {
  padding-right: var(--lk-size-2xl);
}

[lk-section-pr="lg"] {
  padding-right: var(--lk-size-3xl);
}

[lk-section-pr="xl"] {
  padding-right: var(--lk-size-4xl);
}

/* Padding Bottom */

[lk-section-pb="none"] {
  padding-bottom: 0px;
}

[lk-section-pb="xs"] {
  padding-bottom: var(--lk-size-lg);
}

[lk-section-pb="sm"] {
  padding-bottom: var(--lk-size-xl);
}

[lk-section-pb="md"] {
  padding-bottom: var(--lk-size-2xl);
}

[lk-section-pb="lg"] {
  padding-bottom: var(--lk-size-3xl);
}

[lk-section-pb="xl"] {
  padding-bottom: var(--lk-size-4xl);
}

/* Padding Left */

[lk-section-pl="none"] {
  padding-left: 0px;
}

[lk-section-pl="xs"] {
  padding-left: var(--lk-size-lg);
}

[lk-section-pl="sm"] {
  padding-left: var(--lk-size-xl);
}

[lk-section-pl="md"] {
  padding-left: var(--lk-size-2xl);
}

[lk-section-pl="lg"] {
  padding-left: var(--lk-size-3xl);
}

[lk-section-pl="xl"] {
  padding-left: var(--lk-size-4xl);
}

@media screen and (max-width: 767px) {
  [lk-component="section"] {
    padding-left: var(--lk-size-md);
    padding-right: var(--lk-size-md);
  }
}
