@import "../../liftkit-core.css";

[lk-component="snackbar"] {
  display: inline-flex;
  align-items: center;
  padding: calc(var(--body-line-height) * var(--lk-halfstep-dec));
  gap: var(--lk-size-sm);
  border-radius: calc(var(--callout-line-height) * var(--lk-wholestep-dec));
  background-color: var(--lk-surface);
  color: var(--lk-onsurface);
  box-shadow: var(--shadow-xs);
}
