.menu {
  position: relative;
}

.menu-toggle {
  --fontSize: 1em;
  --pad-y: calc(1em * calc(var(--halfstep) / var(--xl-unitless)));

  display: inline-flex;
  line-height: var(--halfstep);

  padding: var(--pad-y);
  padding-left: var(--fontSize);
  gap: var(--pad-y);
  border-radius: 100em;

  /* For debugging */
  background-color: transparent;
  transition: background-color 0.2s ease;

  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.menu-toggle * {
  pointer-events: none;
}

.menu-toggle.open {
  background-color: var(--lk-surfacecontainer);
}

.menu-list {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--bodyBoxHeight) * var(--xs-unitless));
  border-radius: 1em;
  transform: scale(0);
  opacity: 0;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  box-shadow: var(--shadow-xl);

  position: absolute;
  z-index: 99;
  min-width: 11.08em;

  padding: 1em;
  backdrop-filter: blur(10px) saturate(200%) brightness(40%);
}

@media (max-width: 769px) {
  .menu-list {
    min-width: 6em;
    padding: 0.3em;
  }
}

.menu-list.showBelow {
  transition:
    max-height 0.2s ease,
    border-width 0.2s ease,
    border-radius 0.2s ease;
  transform: scale(1);
  left: 0;
  right: 0;
  max-height: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--lk-tertiaryfixed);
  border-top: 0px;
  margin-left: -1px;
  margin-right: -1px;
}

.menu-list-content {
  position: relative;
  z-index: 2;
}

.menu-list-tint-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lk-surfacecontainerlowest);
  opacity: 0.5;
  z-index: 1;
}

.menu-list.open {
  transform: scale(1);
  opacity: 1;
}

.menu-list.showBelow.open {
  max-height: 900px;
}

.menu-item {
  --largestText: var(--bodyBoxHeight);
  --pad-y: calc(var(--bodyBoxHeight) * var(--xs-unitless));

  display: flex;
  align-items: center;
  gap: var(--pad-y);

  cursor: pointer;

  position: relative;
  border-radius: var(--pad-y);
  overflow: hidden;

  padding: var(--pad-y) var(--body-font-size);
}

.menu-item.active {
  background-color: var(--lk-surfacecontainer);
  color: var(--lk-outline);
  pointer-events: none;
}
