.section-xs {
  padding: 1.618em 4.235em;
}

.section-sm {
  padding: 2.618em 4.235em;
}

.section-md {
  padding: 4.235em;
}

.section-lg {
  padding: 6.852em 4.235em;
}

.section-xl {
  padding: 11.087em 4.235em;
}

@media screen and (max-width: 991px) {
  .section-sm {
    padding: 2.618em 1.618em;
  }

  .section-md {
    padding: 1.618em;
  }

  .section-lg {
    padding: 4.235em 1.618em;
  }

  .section-xl {
    padding: 6.852em 1.618em;
  }
}
