.sticker {
  display: inline-flex;

  /* Borrowed font props and vars from .label */
  --lineHeightInEms: calc(1em * var(--halfstep));
  --xs: calc(var(--lineHeightInEms) * var(--halfstep-dec));
  --2xs: calc(var(--lineHeightInEms) * var(--quarterstep-dec));
  letter-spacing: -0.004em;
  font-size: calc((1em / var(--quarterstep)) / var(--eighthstep));
  font-weight: 600;
  line-height: 1em;

  text-transform: capitalize;
  /* unique to sticker */

  padding: var(--lk-size-2xs) var(--lk-size-xs);
  border-radius: var(--lk-size-xs);

  align-items: center;
  gap: var(--lk-size-xs);
}

.sticker.start-icon {
  padding: var(--lk-size-2xs) var(--lk-size-xs) var(--lk-size-2xs)
    var(--lk-size-2xs);
}

.sticker.end-icon {
  padding: var(--lk-size-2xs) var(--lk-size-2xs) var(--lk-size-2xs)
    var(--lk-size-xs);
}

.sticker.outlined {
  position: relative;
  overflow: hidden;
}

.sticker.outlined .state-layer {
  opacity: 0.5;
  z-index: 0;
}

.sticker.outlined *:not(.state-layer) {
  position: relative;
  z-index: 1;
}

.sticker .material-symbols-outlined {
  font-size: 1em;
}
