.tooltip-menu {
  --calculation-key: calc(var(--xl-unitless) / var(--halfstep));
  transform: scale(0);
  transition: transform 0.2s ease;
  overflow: hidden;
  padding: calc(1em * calc(var(--label-line-height) / var(--calculation-key)))
    var(--label-font-size);
  max-width: 320px;
}

.tooltip-menu.active {
  transform: scale(1);
}

.tooltip-menu-item {
  display: flex;
  align-items: center;
  gap: var(--lk-size-sm);
  overflow: hidden;
  position: relative;
  border-radius: var(--lk-size-xs);
  padding: var(--lk-size-sm);
  width: 100%;
  cursor: "pointer";
}

.tooltip-menu-item * {
  pointer-events: none;
}
