[lk-component="snackbar"] {
  display: inline-flex;
  align-items: center;
  padding: calc(var(--body-line-height) * var(--lk-halfstep-dec));
  gap: var(--lk-size-sm);
  border-radius: calc(var(--callout-line-height) * var(--lk-wholestep-dec));
  /* background-color: var(--lk-primary); */
  color: var(--lk-onsurface);
  box-shadow: var(--shadow-xs);

  [lk-slot="snackbar-text"] {
    flex: 1 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  [lk-slot="snackbar-icon"] {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--heading-font-size);
    transform: translateY(-0.25px);
    margin-right: calc(1em / var(--lk-halfstep));
  }

  [lk-slot="snackbar-actions"] {
    margin-left: calc(1em / var(--lk-halfstep));
  }

}

