.accordion {
  overflow: hidden;
  border-radius: var(--lk-size-sm);
  border: 1px solid transparent;
  transition: border 0.2s ease;
}

.accordion-trigger {
  position: relative;
  overflow: hidden;
  padding: 0;
  transition: padding 0.2s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.accordion-icon {
  transition: transform 0.2s ease;
}

.accordion.open {
  border: 1px solid var(--lk-outline);
}

.accordion.open .accordion-trigger {
  padding: var(--lk-size-md);
}

.accordion.open .accordion-content {
  max-height: 500px;
}

.accordion.open .accordion-icon {
  transform: rotateZ(90deg);
}
