.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--xs);
  border-radius: var(--sm);
}

.badge.material-symbols-outlined {
  font-size: calc(1em * var(--halfstep));
}

.badge.lg {
  font-size: calc(1em * var(--halfstep));
}
