@import "globals.css";

.border-radius-2xs {
  border-radius: var(--lk-size-2xs);
}

.border-radius-xs {
  border-radius: var(--lk-size-xs);
}

.border-radius-sm {
  border-radius: var(--lk-size-sm);
}

.border-radius-md {
  border-radius: var(--lk-size-md);
}

.border-radius-lg {
  border-radius: var(--lk-size-lg);
}

.border-radius-xl {
  border-radius: var(--lk-size-xl);
}

.border-radius-2xl {
  border-radius: var(--lk-size-2xl);
}

.border-radius-circle {
  border-radius: 100em;
}

.border-radius-0 {
  border-radius: 0em;
}
