.dropdown-menu {
  transform: scale(0);
  transition: transform 0.2s ease;
  overflow: hidden;
  padding: var(--lk-size-xs);
}

.dropdown-menu.active {
  transform: scale(1);
}

.dropdown-menu-item {
  display: flex;
  align-items: center;
  gap: var(--lk-size-sm);
  overflow: hidden;
  position: relative;
  border-radius: var(--lk-size-xs);
  padding: var(--lk-size-sm);
  width: 100%;
  cursor: "pointer";
}

.dropdown-menu-item * {
  pointer-events: none;
}
