/* Set display to flex */

.flex-h {
  display: flex;
}

.display__flex-v {
  display: flex;
  flex-direction: column;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

/* shorthands */

.flex-h-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-h-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-h-bottom {
  display: flex;
  justify-content: flex-end;
}

.flex-v-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.flex-v-top {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.flex-v-bottom {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

/* card-header */
.flex-wrap-children {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--sm);
  row-gap: var(--sm);
}

.fill-container {
  flex: 1 0 0;
  flex-basis: 0;
}

.hug-contents {
  flex: 1 0 auto;
}

.scrollable-flex-child {
  flex: 1 0 0;
  flex-basis: 0;
  overflow: auto;
  scrollbar-width: none;
}

.flex-basis-auto {
  flex-basis: auto;
}
