/* Gaps */
@import "globals.css";


.gap-2xs {
  gap: var(--2xs);
}

.gap-xs {
  gap: var(--xs);
}

.gap-sm {
  gap: var(--sm);
}

.gap-md {
  gap: var(--md);
}

.gap-lg {
  gap: var(--lg);
}

.gap-xl {
  gap: var(--xl);
}

.gap-2xl {
  gap: var(--2xl);
}
