.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.grid.propList {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: all 0.3s;
}

.grid.propList.listMode {
  grid-template-columns: 1fr;
}

.grid.col-1 {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.grid.col-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.grid.col-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.grid.col-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.grid.col-6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}

.grid.col-7 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.grid.col-8 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}

.grid.col-9 {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
}

.grid.col-10 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}

.grid.col-11 {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
}

.grid.col-12 {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.grid.justify-items-start {
  justify-items: start;
}

.grid.col-3.max-content-cols {
  grid-template-columns: repeat(3, max-content);
}
