/* ADD THIS IN YOUR HTML OR WHEREVER YOU IMPORT FONTS GLOBALLY
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
*/
