.state-layer {
  z-index: 1;
  opacity: 0;
  background-color: var(--lk-onsurface);
  pointer-events: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transition: opacity 0.2s ease;
}

/* Only apply styles to the .state-layer when its direct parent is hovered, active, or focused */
div:hover > .state-layer,
a:hover > .state-layer,
button:hover > .state-layer,
li:hover > .state-layer {
  opacity: 0.15 !important;
}

div:active > .state-layer,
a:active > .state-layer,
button:active > .state-layer,
li:active > .state-layer {
  opacity: 0.5 !important;
}

div:focus > .state-layer,
a:focus > .state-layer,
button:focus > .state-layer,
li:focus > .state-layer {
  opacity: 0.35 !important;
}

.is-active .state-layer {
  opacity: 0.16 !important;
}

.list-item.active .state-layer {
  opacity: 0.24 !important;
}
