.tabs {
}

.tabs.flex-v {
  display: flex;
  flex-flow: column nowrap;
}

.tabs.flex-h {
  display: flex;
  align-items: stretch;
}

.tabs.flex-h .tab-content {
  flex-grow: 1;
}

.tab-menu {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lk-outlinevariant);
  text-transform: capitalize;
  overflow-x: auto;
}

.tab-menu.flex-v {
  flex-flow: column nowrap;
  text-align: left;
  align-items: stretch;
}

.tab-menu-item {
  padding: var(--body-font-size);
  position: relative;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;
  white-space: pre;
}

.tabs .underline {
  position: absolute;
  bottom: -2px;
  width: 100%;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--lk-primary);
}

.tab-menu.flex-v .tab-menu-item {
  padding: var(--body-font-size);
  border-bottom: 0px solid transparent;
  transition: background-color 0.2s ease;
  border-radius: 100em;
  white-space: pre;
}

.tab-menu-item:hover {
  border-color: var(--lk-primarycontainer);
}

.tab-menu-item:active,
.tab-menu-item:focus {
  border-color: var(--lk-primary);
}

.tab-menu-item.active {
}

.tab-menu.flex-v .tab-menu-item:hover {
  background-color: var(--lk-primarycontainer);
  border: none;
}

.tab-menu.flex-v .tab-menu-item:active,
.tab-menu.flex-v .tab-menu-item:focus {
  background-color: var(--lk-primarycontainer);
  border: none;
}

.tab-menu.flex-v .tab-menu-item.active {
  background-color: var(--lk-primarycontainer);
  border: none;
}

.tab-menu.glass {
  background-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: none;
  border: none;
  border-bottom: 1px solid var(--lk-outline);

  z-index: 1;
}

.tab-content {
}

.tab-pane {
}
