@import "../../liftkit-core.css";

[lk-component="menu-list"] {
  position: absolute;
  width: var(--lk-size-3xl);
  padding: var(--lk-size-md);
  border-radius: var(--lk-size-md);
  box-shadow: var(--shadow-xl);
  transform-origin: top right;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

[lk-component="menu-list"] > [lk-component="column"] {
  align-items: stretch;
  gap: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
}

[lk-menu-list-open="true"] {
  transform: scale(1);
  opacity: 1;
  overflow: auto;
  display: block;
}

[lk-menu-list-open="false"] {
  transform: scale(0);
  opacity: 0;
  overflow: hidden;
  display: none;
}
