[lk-component="menu-chip"] {
  display: inline-flex;
  align-items: center;
  gap: var(--lk-size-sm);
  padding: var(--lk-size-xs) var(--lk-size-md);
  border: 1px solid var(--lk-outline-variant);
  /* border-radius: var(--subheading-line-height); */
  border-radius: var(--lk-size-lg);
  background-color: #fff;
  position: relative;
  transition:
    border 0.2s ease-out,
    outline 0.2s ease-out;
  cursor: pointer;
}

[lk-component="menu-chip"]:focus-visible {
  border: 3px solid var(--lk-primary);
  outline: none;
}

[lk-component="menu-chip"]>[lk-component="state-layer"] {
  position: absolute;
  inset: 0;
  background-color: var(--lk-primary);
  opacity: 0;
  transition: opacity 0.2s ease-out;
  pointer-events: none;
}

[lk-menu-chip-open="true"]>[lk-component="state-layer"] {
  opacity: 0.25;
  border-radius: var(--lk-size-lg);
}
