/* This file is not used in the component currently. Component uses styled jsx due to high demand for dynamic features. */
[data-lk-component="material-layer"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  [data-lk-material-sublayer] {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
}

/* Dark Mode behavior */

@media (prefers-color-scheme: dark) {
  [data-lk-material-type="glass"] {
    backdrop-filter: blur(4px);
  }
}
