@import "../../liftkit-core.css";

[lk-component="menu-item"] {
  display: inline-flex;
  align-items: center;
  gap: var(--lk-size-sm);
  border-radius: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
  padding-top: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
  padding-bottom: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
}

/* Left padding with start icon */
[lk-component="menu-item"]:has([lk-icon-position="start"]) {
  padding-left: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
}

/* Right padding with end icon */
[lk-component="menu-item"]:has([lk-icon-position="end"]) {
  padding-right: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
}

/* Default padding without icons */
[lk-component="menu-item"]:not(:has([lk-icon-position="start"])) {
  padding-left: var(--body-font-size);
}

[lk-component="menu-item"]:not(:has([lk-icon-position="end"])) {
  padding-right: var(--body-font-size);
}
