[lk-component="menu-item"] {
  --py: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
  --gap: calc(var(--py) / var(--lk-eighthstep));

  display: inline-flex;
  align-items: center;
  gap: var(--lk-size-sm);
  border-radius: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
  padding-top: var(--py);
  padding-bottom: var(--py);
  gap: var(--gap);
  position: relative;

  /* Required for text-overflow ellipsis */
  overflow: hidden;
  cursor: pointer;
}

[lk-menu-item-element="content-wrap"] {
  flex: 1 0 0;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/* Left padding with start icon */
[lk-component="menu-item"]:has([lk-icon-position="start"]) {
  padding-left: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
}

/* Right padding with end icon */
[lk-component="menu-item"]:has([lk-icon-position="end"]) {
  padding-right: calc(var(--lk-size-lg) * var(--lk-halfstep-dec));
}

/* Default padding without icons */
[lk-component="menu-item"]:not(:has([lk-icon-position="start"])) {
  padding-left: var(--body-font-size);
}

[lk-component="menu-item"]:not(:has([lk-icon-position="end"])) {
  padding-right: var(--body-font-size);
}

[lk-component="menu-item"] > [lk-component="state-layer"] {
  border-radius: var(--lk-size-xs);
}
