@import "../../liftkit-core.css";
[lk-component="button"] {
  --button-font-size: var(--lk-size-md);
  --button-line-height: var(--lk-halfstep);
  --button-padX-default: var(--lk-size-md);
  --button-padX-sideWithIcon: calc(
    1em * calc(var(--lk-wholestep) / var(--lk-size-xl-unitless))
  );
  --button-padY: calc(
    var(--button-font-size) * calc(var(--halfstep) / var(--lk-size-xl-unitless))
  );

  --button-gap: var(--button-padX-sideWithIcon);

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100em;
  position: relative;
  text-decoration: none;
  white-space: pre;
  word-break: keep-all;
  overflow: hidden;
  padding: var(--button-padY) 1em;
  font-weight: 500;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
}

[lk-component="button"]
  > [lk-button-content-wrap]
  > [lk-icon-position="start"] {
  padding-left: var(--button-padX-sideWithIcon);
}

[lk-component="button"] > [lk-button-content-wrap] > [lk-icon-position="end"] {
  padding-right: var(--button-padX-sideWithIcon);
}
