@import "../../liftkit-core.css";
[lk-component="icon-button"] {
  display: inline-block;
  position: relative;
  border-radius: 100em;
  border: 1px solid transparent;
  padding: 0.5em;
  font-weight: 500;
  background: none;
  overflow: hidden;
}

[lk-component="icon-button"] > [lk-button-content-wrap] {
  display: flex;
  justify-content: center;
  align-items: center;
}

[lk-component="icon-button"] > [lk-component="state-layer"] {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: var(--lk-primary);
  opacity: 0;
  transition:
    background-color 0.2s ease-out,
    opacity 0.2s ease-out;
}

[lk-component="icon-button"]:hover > [lk-component="state-layer"],
[lk-component="icon-button"]:focus-visible > [lk-component="state-layer"] {
  opacity: 0.04;
}

/* Size map */
[lk-icon-button-size="xs"] {
  font-size: var(--caption-font-size);
}

[lk-icon-button-size="sm"] {
  font-size: var(--caption-line-height);
}

[lk-icon-button-size="md"] {
  font-size: var(--heading-font-size);
}

[lk-icon-button-size="lg"] {
  font-size: var(--title3-font-size);
}

[lk-icon-button-size="xl"] {
  font-size: var(--title2-font-size);
}
