@import "../../liftkit-core.css";
[lk-component="image"] {
  display: block;
  width: 100%;
  height: auto;
  object-fit: var(--lk-image-fit, fill);
}

[lk-image-radius]:not([lk-image-radius="none"]):not([lk-image-radius="zero"]) {
  border-radius: var(--lk-size-md);
  overflow: hidden;
}
