@import "../../liftkit-core.css";

[lk-component="navbar"] {
  position: sticky;
  top: 0;
  z-index: 99;
}

[lk-navbar-el="nav-menu"] {
  transition:
    transform 0.3s ease,
    opacity 0.2s ease;
}

@media (max-width: 768px) {
  [lk-navbar-el="nav-menu"] {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 98;
  }

  [lk-navbar-el="nav-menu"].active {
    transform: translateX(0);
    opacity: 1;
  }
}
