@import "../../liftkit-core.css";

[lk-component="sticker"] {
  display: inline-block;
  padding: var(--lk-size-xs) var(--lk-size-sm);
  background-color: var(--lk-primary);
  color: var(--lk-onprimary);
  border-radius: var(--lk-size-sm);
  font-weight: 500;
  line-height: var(--label-line-height);
  font-size: var(--label-font-size);
}

/* Color modifiers */
[lk-sticker-color="lk-primary"] {
  background-color: var(--lk-primary);
  color: var(--lk-onprimary);
}
[lk-sticker-color="lk-secondary"] {
  background-color: var(--lk-secondary);
  color: var(--lk-onsecondary);
}
[lk-sticker-color="lk-tertiary"] {
  background-color: var(--lk-tertiary);
  color: var(--lk-ontertiary);
}
[lk-sticker-color="lk-error"] {
  background-color: var(--lk-error);
  color: var(--lk-onerror);
}
[lk-sticker-color="lk-warning"] {
  background-color: var(--lk-warning);
  color: var(--lk-onwarning);
}
[lk-sticker-color="lk-success"] {
  background-color: var(--lk-success);
  color: var(--lk-onsuccess);
}
[lk-sticker-color="lk-info"] {
  background-color: var(--lk-info);
  color: var(--lk-oninfo);
}
[lk-sticker-color="lk-surface"] {
  background-color: var(--lk-surface);
  color: var(--lk-onsurface);
}
[lk-sticker-color="lk-inverse"] {
  background-color: var(--lk-inverseprimary);
  color: var(--lk-inverseonsurface);
}
[lk-sticker-color="lk-primarycontainer"] {
  background-color: var(--lk-primarycontainer);
  color: var(--lk-onprimarycontainer);
}
[lk-sticker-color="lk-secondarycontainer"] {
  background-color: var(--lk-secondarycontainer);
  color: var(--lk-onsecondarycontainer);
}
[lk-sticker-color="lk-tertiarycontainer"] {
  background-color: var(--lk-tertiarycontainer);
  color: var(--lk-ontertiarycontainer);
}
[lk-sticker-color="lk-errorcontainer"] {
  background-color: var(--lk-errorcontainer);
  color: var(--lk-onerrorcontainer);
}
[lk-sticker-color="lk-warningcontainer"] {
  background-color: var(--lk-warningcontainer);
  color: var(--lk-onwarningcontainer);
}
[lk-sticker-color="lk-successcontainer"] {
  background-color: var(--lk-successcontainer);
  color: var(--lk-onsuccesscontainer);
}
[lk-sticker-color="lk-infocontainer"] {
  background-color: var(--lk-infocontainer);
  color: var(--lk-oninfocontainer);
}
[lk-sticker-color="lk-surfacecontainerlowest"] {
  background-color: var(--lk-surfacecontainerlowest);
  color: var(--lk-onbackground);
}
[lk-sticker-color="lk-surfacecontainerlow"] {
  background-color: var(--lk-surfacecontainerlow);
  color: var(--lk-onbackground);
}
[lk-sticker-color="lk-surfacecontainer"] {
  background-color: var(--lk-surfacecontainer);
  color: var(--lk-onbackground);
}
[lk-sticker-color="lk-surfacecontainerhigh"] {
  background-color: var(--lk-surfacecontainerhigh);
  color: var(--lk-onbackground);
}
[lk-sticker-color="lk-surfacecontainerhighest"] {
  background-color: var(--lk-surfacecontainerhighest);
  color: var(--lk-onbackground);
}
[lk-sticker-color="lk-surfacevariant"] {
  background-color: var(--lk-surfacevariant);
  color: var(--lk-onsurfacevariant);
}
