@import "../../liftkit-core.css";

[lk-component="text-input"] [lk-text-input-element="field-wrap"] {
  appearance: none;
  display: flex;
  padding: 7.76px var(--lk-size-md);
  justify-content: center;
  align-items: center;
  gap: var(--lk-size-sm);
  flex: 1 0 0;
  border-radius: var(--lk-size-md);
  border: 1px solid var(--lk-outlinevariant);
  background: #fff;
  transition:
    border 0.2s ease-out,
    outline 0.2s ease-out;
  position: relative;
}

[lk-component="text-input"] [lk-text-input-element="field-wrap"]:hover {
  border: 1px solid var(--lk-outlinevariant);
}

[lk-component="text-input"] [lk-text-input-element="field-wrap"]:active,
[lk-component="text-input"] [lk-text-input-element="field-wrap"]:focus-within {
  border-color: transparent;
  outline: 3px solid var(--lk-primary);
}

[lk-component="text-input"] [lk-component="state-layer"] {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  transition:
    background-color 0.2s ease-out,
    opacity 0.2s ease-out;
  background-color: var(--lk-primary);
  opacity: 0;
}

[lk-component="text-input"]
  [lk-text-input-element="field-wrap"]:hover
  [lk-component="state-layer"],
[lk-component="text-input"]
  [lk-text-input-element="field-wrap"]:focus-within
  [lk-component="state-layer"] {
  opacity: 0.04;
}
