name: Checks
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
permissions:
  contents: read
  packages: read
  pull-requests: read
  checks: write

jobs:
  commit:
    name: commit
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: commit-check/commit-check-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          message: true
          branch: true
          author-name: true
          author-email: true
          commit-signoff: false
          merge-base: false
          job-summary: true
          pr-comments: false
  prettier:
    name: Prettier
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4 # Check out the repository first.
      - uses: EPMatt/reviewdog-action-prettier@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: warning
  eslint:
    name: Eslint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
      - run: npm install
      - run: npx next lint --output-file eslint_report.json --format json
        continue-on-error: true
      - name: Annotate Code Linting Results
        uses: ataylorme/eslint-annotate-action@v3
        with:
          only-pr-files: false
          markdown-report-on-step-summary: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          report-json: "eslint_report.json"
